{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <div class="row align-items-start">
    <div class="col-1 col-md-1"><h4>Labelit</h4></div>
    <div class="col-9 col-md-9">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
        </ul>
      </div>
    </div>
    <div class="col-2 col-md-2">
    sadf
    </div>
 </div>

  <div class="row align-items-center">
    <div class="col-10 col-md-10">
      <div class="jumbo"></div>
    </div>
    <div class="col-2 col-md-2">
      <div class="container">
        <div class="row">미분류</div>
        <div class="row">핸드백</div>
        <div class="row">아님</div>
      </div>
    </div>
  </div

  <div class="row align-items-end">
    <div class="dd">

    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
