{% extends 'layout.html' %}
{% block content %}
<form>
    <div class="form-group">
      <label for="id-signin">ID</label>
      <input type="text" class='form-control' id='id-signin' placeholder='Enter ID' value='marketit'>
    </div>
    <div class="form-group">
      <label for="password-signin">Password</label>
      <input type="password" class='form-control' id='password-signin' placeholder='Enter Password' value='eoqkr'>
    </div>

    <div id="content-signin"></div>

    <button type="submit" id='set-config' class='btn btn-primary'>다음</button>
</form>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/config-signin.js') }}"></script>
{% endblock %}
